body{
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
form{
    background-color: brown;
    width: 30%;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* display: grid;
    place-items: center; */
    padding: 20px;

}

