body{
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(226, 218, 218);
}
form{
    background-color: rgb(70, 184, 241);
    width: 40%;
    color: aliceblue;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* display: grid;
    place-items: center; */
    padding: 20px;

}

.nav_bar{
    background-color: black;
    padding: 5px;
}
.nav_list{
    display: flex;
    /* padding: 2px; */
    gap: 90px;
    font-size: large;
    list-style-type: none;
    color: white;
    font-style: bold;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: greenyellow;
}

