body{
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    flex-direction: column;
    /* background-color: rgb(226, 218, 218); */
}
body::before{
    content: "";
    background-color: black;
    background-image: url(image/program.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;


}
.nav_bar{
    background-color: black;
    padding: 5px;
    /* margin-left: -20px;
    margin-right: -20px; */
}
.nav_list{
    display: flex;
    /* padding: 2px; */
    gap: 90px;
    font-size: large;
    list-style-type: none;
    color: white;
    font-style: bold;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    background-color: greenyellow;
   
}


form{
    background-color: rgb(243, 104, 24);
    /* width: 55%; */
    color: aliceblue;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* display: grid;
    place-items: center; */
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    box-shadow: 2px;
    border-color: black;
   

}
.submit_btn{
    padding-left: 30Px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    background-color: greenyellow;
    font-style: bold;
    
}
.main{
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
    gap: 200px;
    padding: 20px;
    margin-right: 0%;
    align-items: flex-start;
    justify-content: space-between;
}
.description{
    flex: 1;
    max-width: 500px;
    
}
.form_cointainer{
    flex: 1;
    max-width: 220px;
    /* align-items: self-end; */
    /* margin-left: -20%; */
    
}
button{
    width: 60px;
    padding: 6px;
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
    border-color: blue;
    border-style: inset;
}
button:hover{
    background-color:brown;
}
